html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  background: black;
}

body {
  /* To hide the scrollbar */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.logo {
  width: 150px;
}

.reveal,
.reveal.active {
  transition: all 1s ease;
}

.reveal {
  transform: translateY(100px);
  opacity: 0;
}

.reveal.active {
  transform: translateY(0);
}

@media only screen and (min-width: 600px) {
  .MuiContainer-root {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .MuiContainer-root {
    max-width: 0;
  }
}

.backgroundVideo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: stretch;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
}

h2,
h3 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  text-transform: capitalize;
}

h4 {
  position: absolute;
  padding-top: 40px;
  padding-left: 50px;
  z-index: 5;
}

h6 a {
  color: #fff;
  text-decoration: none;
}

.content {
  margin-left: 0;
  margin-right: 0;
  left: 0;
  right: 0;
  position: relative;
  z-index: 100;
}

.ratings {
  display: flex;
  justify-content: flex-end;
}

#watch-now-button {
  width: auto;
  background: linear-gradient(120deg, #e70800 0, #000000 100%) no-repeat padding-box;
}

#favorites-button {
  width: auto;
  background: linear-gradient(120deg, #5d5d5d 0, #000000 100%) no-repeat padding-box;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-box {
  background: linear-gradient(120deg, #e70800 0, #000000 100%) no-repeat padding-box;
  text-align: center;
  padding: 50px 0 50px 80px;
}

.copyright-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 15px;
}