body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Cooper Hewitt Bold";
  src: local("CooperHewitt"),
    url(./fonts/CooperHewitt-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Cooper Hewitt Semibold";
  src: local("CooperHewitt"),
    url(./fonts/CooperHewitt-Semibold.ttf) format("truetype");
}

@font-face {
  font-family: "Cooper Hewitt Book";
  src: local("CooperHewitt"),
    url(./fonts/CooperHewitt-Book.ttf) format("truetype");
}

@font-face {
  font-family: "Cooper Hewitt Medium";
  src: local("CooperHewitt"),
    url(./fonts/CooperHewitt-Medium.ttf) format("truetype");
}

